{% extends "base.html" %}

{% block content %}

<h1>About Page</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur culpa dolorum expedita hic itaque
    iusto laboriosam,
    natus officia placeat possimus quo suscipit, tempore? Autem eius ex explicabo placeat vel. </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur culpa dolorum expedita hic itaque
    iusto laboriosam,
    natus officia placeat possimus quo suscipit, tempore? Autem eius ex explicabo placeat vel. </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur culpa dolorum expedita hic itaque
    iusto laboriosam,
    natus officia placeat possimus quo suscipit, tempore? Autem eius ex explicabo placeat vel. </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur culpa dolorum expedita hic itaque
    iusto laboriosam,
    natus officia placeat possimus quo suscipit, tempore? Autem eius ex explicabo placeat vel. </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur culpa dolorum expedita hic itaque
    iusto laboriosam,
    natus officia placeat possimus quo suscipit, tempore? Autem eius ex explicabo placeat vel. </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur culpa dolorum expedita hic itaque
    iusto laboriosam,
    natus officia placeat possimus quo suscipit, tempore? Autem eius ex explicabo placeat vel. </p>

{% endblock content %}


