<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <header>
        <h1><a href="/">Homepage4You</a></h1>
        <nav>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/">Login</a></li>
                <li><a href="/">Register</a></li>
            </ul>
        </nav>
    </header>
<h1>About Page</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur culpa dolorum expedita hic itaque iusto laboriosam,
    natus officia placeat possimus quo suscipit, tempore? Autem eius ex explicabo placeat vel. </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur culpa dolorum expedita hic itaque iusto laboriosam,
    natus officia placeat possimus quo suscipit, tempore? Autem eius ex explicabo placeat vel. </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur culpa dolorum expedita hic itaque iusto laboriosam,
    natus officia placeat possimus quo suscipit, tempore? Autem eius ex explicabo placeat vel. </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur culpa dolorum expedita hic itaque iusto laboriosam,
    natus officia placeat possimus quo suscipit, tempore? Autem eius ex explicabo placeat vel. </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur culpa dolorum expedita hic itaque iusto laboriosam,
    natus officia placeat possimus quo suscipit, tempore? Autem eius ex explicabo placeat vel. </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur culpa dolorum expedita hic itaque iusto laboriosam,
    natus officia placeat possimus quo suscipit, tempore? Autem eius ex explicabo placeat vel. </p>

</body>
</html>