<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<div class="wrapper">
    <header>
        <h1><a href="/">Homepage4You</a></h1>
        <nav>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/">Login</a></li>
                <li><a href="/">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>MVC - Contact</h2>
        <ul>
            <li><a href="/">Links</a></li>
            <li><a href="/">Documantation</a></li>
            <li><a href="/">Goals</a></li>
            <li><a href="/">Usability</a></li>
            <li><a href="/">FAQ</a></li>
            <li><a href="/">Info</a></li>
        </ul>
    </main>
</div>
</body>
</html>