{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="horizon-box">
        <h2>MVC - Selfmade</h2>
        <ul class="horizon-list">
            <li class="horizon-li"><a href="/">Links</a></li>
            <li class="horizon-li"><a href="/">Documantation</a></li>
            <li class="horizon-li"><a href="/">Goals</a></li>
            <li class="horizon-li"><a href="/">Usability</a></li>
            <li class="horizon-li"><a href="/">FAQ</a></li>
            <li class="horizon-li"><a href="/">Info</a></li>
        </ul>
</div>
{% endblock content %}
